<mat-sidenav-container fxFlex="100vw">
  <mat-sidenav #drawer class="drawer" mode="side" opened="false" (opened)="draweropen()"  fxFlex.lt-sm="100vw">    
    <mat-toolbar class="header" color="warn">
      <div>Company Details</div>
      <span fxFlex="grow"></span>
      <mat-icon  style="margin-right:30px;" class="close" (click)="drawerclose()">close</mat-icon>
    </mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="myuserProfile.UserAuthenObj === undefined">
      <mat-toolbar color="primary" fxFlex="100vw">
        <mat-icon style="margin-right:20px;" *ngIf="!drawer.opened" (click)="drawer.toggle()">
          menu
        </mat-icon>
        <h1>
          Candiser Software pvt Ltd.
        </h1>
    
        <span  fxFlex="grow"></span>
    
        <span style="margin-right:30px;" >
         <mat-spinner  color="accent" [diameter]="20"></mat-spinner>
        </span>

      </mat-toolbar>
    </div>
    <div *ngIf="myuserProfile.UserAuthenObj === null">
      <mat-toolbar color="primary">
        <h1>
          Candiser Software pvt Ltd.
        </h1>
    
        <span fxFlex="grow"></span>
    
        <div  fxHide.lt-sm>
          Welcome User!
        </div>    
        <button mat-icon-button [ngStyle.lt-sm]="{'margin-left': '100px'}" >
          <fa-icon (click)="tutorialService.login()" class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
          </fa-icon>
        </button>
      </mat-toolbar>
    </div>
    <div *ngIf="myuserProfile.UserAuthenObj">
      <mat-toolbar color="primary">
        <mat-icon style="margin-right:20px;" *ngIf="!drawer.opened" (click)="drawer.toggle()">
          menu
        </mat-icon>
        <h1>
          Candiser Software Pvt Ltd.
        </h1>
    
        <span fxFlex="grow"></span>
    
        <div fxHide.lt-sm>
          Welcome {{myuserProfile.UserAuthenObj.displayName}}! 
        </div>  
          <button mat-icon-button >
    
            <fa-icon (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
            </fa-icon>
  
          </button>          
         

      </mat-toolbar>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

