<mat-sidenav-container fxFlex="100vw">
  <mat-sidenav #drawer class="drawer" mode="side" opened="false" (opened)="draweropen()"  fxFlex.lt-sm="100vw">    
    <mat-toolbar class="header" color="warn">
      <div>Company Details</div>
      <span fxFlex="grow"></span>
      <mat-icon  style="margin-right:30px;" class="close" (click)="drawerclose()">close</mat-icon>
    </mat-toolbar>
    <mat-tab-group mat-align-tabs="start" >
      <mat-tab>        
        <ng-template mat-tab-label>Information</ng-template>
        <ng-template matTabContent>
          <div fxLayoutAlign="center space-between"  [ngStyle.lt-sm]="{'background': ' url(' + imageUrl  + ')', 'height': '100vh'}" [ngStyle]="{'background': ' url(' + imageUrl  + ')','padding.px':'20', 'height': 'calc(100vh - 114px)'}">
            <mat-card fxLayout="column" fxFlex="25vw"  fxFlex.lt-sm="100vw">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Registered Office</mat-card-title>
                <mat-card-subtitle>Marthandam, TamilNadu</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../assets/isis-franca-hsPFuudRg5I-unsplash.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Incorporated in Marthandam TamilNadu in year 2019. <br>
                    Registered office Address: <br>
                    M.M House, Kappucaud, Marthandam, Tamilnadu 
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>        
        <ng-template mat-tab-label>Ideals</ng-template>
        <ng-template matTabContent >
          <div fxLayoutAlign="center space-between"  [ngStyle.lt-sm]="{'background': ' url(' + imageUrl  + ')', 'height': '100vh'}" [ngStyle]="{'background': ' url(' + imageUrl  + ')','padding.px':'20', 'height': 'calc(100vh - 114px)'}">
            <mat-card fxLayout="column" fxFlex="25vw"  fxFlex.lt-sm="100vw" >
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Web Apps for future</mat-card-title>
                <mat-card-subtitle>Apps to change Status Quo</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../assets/thisisengineering-raeng-IpTPp_aPbYE-unsplash.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content style="padding:5px;">
                <p>
                  We like to develop products which will change the status Quo of the present situation.<br>
                  We would like to see products developed for indian customers.<br>
                  The Areas of focus are:
                </p>
                <ul>
                  <li>Social Apps</li>
                  <li>Voter App</li>
                  <li> Consent App</li>
                  <li>Learning App</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Investors</ng-template>
        <ng-template matTabContent>
          <div fxLayoutAlign="center space-between"  [ngStyle.lt-sm]="{'background': ' url(' + imageUrl  + ')', 'height': '100vh'}" [ngStyle]="{'background': ' url(' + imageUrl  + ')','padding.px':'20', 'height': 'calc(100vh - 114px)'}">
            <mat-card fxLayout="column" fxFlex="25vw"  fxFlex.lt-sm="100vw" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>One Person Company</mat-card-title>
              <mat-card-subtitle>Single Director</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/thisisengineering-raeng-04y9odvfymw-unsplash.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Currently all shares held by: <br>
                Director:<br>
                Mr. Manoj isaac G. M.E<br>
                1F, SFS Cyber Silver,
                Karimanal P.O
                Trivandrum
                Ph-9539325410<br>

                Business Development Manager<br>
                Mr. Vijay Ananth K. M.E, 
                Chettikulam<br>

                Employee:<br>
                Mr. Merlin Pradeesh B.E,
                Kurusady
              </p>
            </mat-card-content>
            </mat-card>
          </div>          
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Contact</ng-template>
        <ng-template matTabContent>
          <div fxLayoutAlign="center space-between"  [ngStyle.lt-sm]="{'background': ' url(' + imageUrl  + ')', 'height': '100vh'}" [ngStyle]="{'background': ' url(' + imageUrl  + ')','padding.px':'20', 'height': 'calc(100vh - 114px)'}">
            <mat-card fxLayout="column" fxFlex="25vw"  fxFlex.lt-sm="100vw" >
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Telephone</mat-card-title>
                <mat-card-subtitle>Email/Whatsapp</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../assets/thisisengineering-raeng-hoivM01c-vg-unsplash.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                    Email: gmanoj.isaac@gmail.com <br>
                    Whatsapp: 9539325410
                </p>
<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<style></style>

<div class="content" role="main">

  <div class="examples">
    <div class="example">
      <div class="title">DONATE</div>
      <div class="demo">
        <google-pay-button
          environment="TEST"
          [buttonType]="buttonType"
          [buttonColor]="buttonColor"
          [existingPaymentMethodRequired]="existingPaymentMethodRequired"
          [paymentRequest]="{
            apiVersion: paymentRequest.apiVersion,
            apiVersionMinor: paymentRequest.apiVersionMinor,
            allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
            merchantInfo: paymentRequest.merchantInfo,
            transactionInfo: {
              totalPriceStatus: 'FINAL',
              totalPriceLabel: 'Total',
              totalPrice: amount,
              currencyCode: 'USD',
              countryCode: 'US'
            }
          }"
          (loadpaymentdata)="onLoadPaymentData($event)"
          (error)="onError($event)"
        ></google-pay-button>
      </div>
    </div>
  </div>
</div>

              </mat-card-content>              
            </mat-card>

          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="loggedin === undefined">
      <mat-toolbar color="primary" fxFlex="100vw">
        <mat-icon style="margin-right:20px;" *ngIf="!drawer.opened" (click)="drawer.toggle()">
          menu
        </mat-icon>
        <h1>
          Candiser Software pvt Ltd.
        </h1>
    
        <span  fxFlex="grow"></span>
    
        <span style="margin-right:30px;" >
         <mat-spinner  color="accent" [diameter]="20"></mat-spinner>
        </span>

      </mat-toolbar>
    </div>
    <div *ngIf="loggedin === 'false'">
      <mat-toolbar color="primary">
        <h1>
          Candiser Software pvt Ltd.
        </h1>
    
        <span fxFlex="grow"></span>
    
        <div  fxHide.lt-sm>
          Welcome User!
        </div>    
        <button mat-icon-button [ngStyle.lt-sm]="{'margin-left': '100px'}" >
          <fa-icon (click)="tutorialService.login()" class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
          </fa-icon>
        </button>
      </mat-toolbar>
    </div>
    <div *ngIf="loggedin === 'true'">
      <mat-toolbar color="primary">
        <mat-icon style="margin-right:20px;" *ngIf="!drawer.opened" (click)="drawer.toggle()">
          menu
        </mat-icon>
        <h1>
          Candiser Software Pvt Ltd.
        </h1>
    
        <span fxFlex="grow"></span>
    
        <div fxHide.lt-sm>
          Welcome {{displayname}}! 
        </div>  
          <button mat-icon-button >
    
            <fa-icon (click)="tutorialService.logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
            </fa-icon>
  
          </button>          
         

      </mat-toolbar>
      <div fxLayoutAlign="center space-between" [ngStyle.lt-sm]="{'background': ' url(' + imageUrl  + ')', 'height': 'calc(100vh - 64px)'}" [ngStyle]="{'background': ' url(' + imageUrl  + ')','padding.px':'20', 'height': 'calc(100vh - 64px)'}">
        <mat-card fxLayout="column" fxFlex="25vw"  fxFlex.lt-sm="100vw">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>A web App Company</mat-card-title>
            <mat-card-subtitle>For futureproducts</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg" alt="Photo of a Shiba Inu" width="50%" height="45%">
          <mat-card-content>          
            <p>
              We are inspired by Tesla.. <br>
              According to wiki-
              "Ian Wright was Tesla's third employee, joining a few months later.[18] The three raised US$7.5 million in Series A funding in February 2004,[18] with Elon Musk contributing $6.5 million".
              So we as a company think like Elon musk investing in technology of the future. <br> we take inspiration in him.
            </p>
          </mat-card-content>
          <mat-card-actions>            
            <button mat-raised-button color="warn" style="margin-left:15px;" (click)="tutorialService.incrementby1()">LIKE</button> 

              <mat-icon matBadge=" {{(readmylikesfromdb | async)?.likes}}" matBadgeColor="warn" style="margin-right:5px;">favorite</mat-icon>
          
            <share-button button="facebook" text="Share" [showText]="true" style="margin-left:15px;"></share-button>
            <share-button button="whatsapp" text="Share" [showText]="true" style="margin-left:15px;"></share-button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

