.drawer {
    position: fixed;
    height: 100vh;
    border-right: 1px solid #ccc;
  }

  
  .example-header-image {
    background-image: url('../assets/shane-rounce-1ZZ96uESRJQ-unsplash.jpg');
    background-size: cover;
  }